<div class="card flex justify-content-center">
    <p-toast></p-toast>
</div>

<div class="card">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid">
            <div class="p-field">
                <label for="name">Name</label>
                <input id="name" type="text" formControlName="name" pInputText />
            </div>
            <div class="p-field">
                <label for="phone">Phone</label>
                <input id="phone" type="text" formControlName="phone" pInputText />
            </div>
            <div class="p-field">
                <label for="email">Email</label>
                <input id="email" type="text" formControlName="email" pInputText />
            </div>
            <div formGroupName="address">
                <div class="p-field">
                    <label for="city">City</label>
                    <input id="city" type="text" formControlName="city" pInputText />
                </div>
            </div>
            <div class="p-field">
                <p-button label="Save" class="button" styleClass="w-full" type="submit" [disabled]="contactForm.invalid"></p-button>
            </div>
        </div>
    </form>
</div>
